// Buttons
//





// Say Hello
//

.btn--big {
  @extend .btn-lg;
  background: $brand-primary;
  box-shadow:
    0 1px 0 0 $gr-blue-lagoon,
    0 2px 0 0 $gr-blue-lagoon,
    0 3px 0 0 $gr-blue-lagoon,
    0 4px 0 0 $gr-blue-lagoon,
    0 5px 0 0 $gr-blue-lagoon;
  color: $gr-white;
  display: block;
  font-size: inherit;
  letter-spacing: .1em;
  margin: 3em auto;
  max-width: 31.25rem;
  transition: .4s;

  &:hover {
    background: $gr-pacific-blue;
    color: $gr-white;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}
