// Close Button
//
.close {
  @include size(1.25rem);
  display: none;
  float: none;
  margin: $grid-gutter-width/2 0;
  opacity: 1;

  &__min {
    background: $gr-astronaut-blue;
    display: block;
    height: .1875rem;
  }

  &__text {
    @extend .sr-only;
  }
}

/* uncss:ignore */
.footer-section--open .close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
