// Content Info
//

.content-info {
  @extend .col-xs-12;
  background: $gr-daintree;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  &__text,
  &__link {
    color: $gr-white;
    font-size: $font-size-sm;
    font-weight: 300;
  }

  &__text {
    margin: 3rem 0 0;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {

    & + & {
      margin-left: .9375rem;
      position: relative;

      &:hover,
      &:focus {

        &::before {
          color: $gr-white;
          text-decoration: none;
        }
      }

      &::before {
        content: '\00b7';
        left: -.9375rem;
        position: absolute;
        top: 0;
        width: .9375rem;
      }
    }
  }
}
