// Content Info
//
%content-info__type {
  color: $gr-white;
  font-weight: 300;
}

.content-info {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  &__text {
    @extend %content-info__type;
    margin: 3rem 0 0;
  }

  &__links {
    display: flex;
    justify-content: center;
    margin-top: .5em;
  }

  &__link {
    @extend %content-info__type;
    @include hover-state;
  }

  &__separator {
    @extend %content-info__type;
    margin-left: .25em;
    margin-right: .25em;
  }
}
