// Footer Section
//

.footer-section {
  display: none;
  color: $gr-white;
  margin-bottom: 1em;
  padding-bottom: 2em;
  padding-top: 5em;
  position: relative;

  &--open {
    display: block;
  }

  &::after {
    bottom: 0;
    content: '';
    background: $brand-primary;
    display: block;
    height: .1875rem;
    left: $grid-gutter-width/2;
    position: absolute;
    right: $grid-gutter-width/2;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  &__link {
    color: $gr-white;
  }
}
