// Footer Section
//

.footer-section {
  display: none;
  color: $gr-white;
  margin-bottom: 1em;
  padding-bottom: 2em;
  padding-top: 6em;
  position: relative;

  &::after {
    bottom: 0;
    content: '';
    background: $brand-primary;
    display: block;
    height: .1875rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1em;
  }

  &__link {
    color: $gr-white;
  }

  @include media-breakpoint-up(lg) {
    @include container();
    @include content-width();

    padding-top: 8em;
  }
}

/* uncss:ignore */
.footer-section {
  &--open {
    display: block;
  }

  .no-js & {
    display: block;
    margin-bottom: 0;
    padding-top: 3em;
  }
}
