// Logo
//
.logo {
  align-items: center;
  color: $gr-astronaut-blue;
  display: flex;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 10;

  &__graphic {
    @include size(1.875rem);
  }

  &__title {
    padding-left: 1rem;

    .header:not(.header--sticky) & {
      @extend .text-hide;
    }
  }
}
