// Navigation Panel
//
.nav-panel {
  background: $gr-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  min-height: 35rem;
  padding: 3.5em 1.25em 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  transform: scale(1.5);
  transition: opacity .3s, transform .3s;
  top: 0;
  width: 100vw;
  will-change: transform;
  z-index: 10;

  .no-js & {
    height: auto;
  }

  @include media-breakpoint-down(md) {
    .nav-open & {
      opacity: 1;
      pointer-events: auto;
      transform: none;
      transition: opacity .3s, transform .3s;
    }
  }

  @include media-breakpoint-up(lg) {
    background: none;
    font-size: 1.25rem;
    height: auto;
    max-width: 31.25rem;
    min-height: 0;
    opacity: 1;
    padding: 0;
    pointer-events: auto;
    position: static;
    transform: none;
    transition: none;
    width: 50%;
  }
}
