// Navigation Panel
//
.nav-panel {
  background: $gr-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  min-height: 30rem;
  padding: 3.125rem .9375rem;
  left: 0;
  position: fixed;
  text-align: center;
  transform: translateX(100%);
  transition: .2s;
  top: 0;
  width: 100%;

  .no-js & {
    height: auto;
  }

  .nav-open & {
    transform: translateX(0);
  }
}
