// Navigation Toggle
//
.nav-toggle {
  background: none;
  border: 0 $gr-white;
  display: block;
  padding: 0;
  position: relative;
  z-index: 10;

  .no-js & {
    display: none;
  }

  .nav-open & {
    border-color: $brand-primary;
  }

  &__title {
    @extend .sr-only;
  }
}
