// Navigation Toggle
//
.nav-toggle {
  background: none;
  border: 0 $gr-white;
  display: block;
  padding: 0;
  position: relative;
  z-index: 100;

  .no-js & {
    display: none;
  }

  &__title {
    @extend .sr-only;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

/* uncss:ignore */
.page-header--sticky .nav-toggle {
  border-color: $brand-primary;
}

/* uncss:ignore */
.nav-open .nav-toggle {
  border-color: transparent;
}
