// Header
//

@keyframes sticky-header {
  0% {
    opacity: 0;
    transform: scale(1.1) translateY(-100%);
    transform-origin: center top;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.page-header {

  &__bar {
    left: 0;
    padding: .875em $grid-gutter-width/2;
    position: absolute;
    transition: box-shadow .3s;
    top: 0;
    width: 100vw;
    will-change: transform;
    z-index: 100;
  }

  &__inner {
    @include container();

    display: flex;
    justify-content: space-between;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;

    &__bar {
      padding: 1rem 1.875rem;
    }
  }
}

/* uncss:ignore */
.page-header--sticky .page-header {

  &__bar {
    animation: sticky-header cubic-bezier(0.91,-0.18, 0.09, 1.21) .8s forwards;
    background: rgba($gr-white, .95);
    box-shadow: 0 0 1em rgba($gr-daintree, .1);
    position: fixed;
  }
}

@include media-breakpoint-down(md) {

  /* uncss:ignore */
  .nav-open .page-header {

    &__bar {
      box-shadow: none;
      position: fixed;
    }
  }
}
