// Page Section
//

.page-section {
  @extend .col-xs-12;
  min-height: 30rem;
  overflow: hidden;
  padding-bottom: 4rem;
  padding-top: 6rem;
  text-align: center;

  &:nth-child(odd) {
    background: $gray-lightest;
  }

  &__title {
    border-bottom: .1875em solid $brand-primary;
    display: inline-block;
    text-align: center;
  }

  &__content {
    text-align: left;
  }
}





// Page Section: Home
//
@keyframes home-bg {
  0%, 40%, 100% {
    background-image: url(../images/workspace.jpg);
  }
  50%, 90% {
    background-image: url(../images/keyboard.jpg);
  }
}

@keyframes home-bg-motion {
  0%, 100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}
.home {
  @extend %section;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 28rem;
  overflow: hidden;
  position: relative;

  &::before {
    animation:
      home-bg 30s infinite,
      home-bg-motion 30s infinite;
    background: $gr-daintree no-repeat 50% 50% / cover;
    background-image:
      url(../images/workspace.jpg),
      url(../images/keyboard.jpg);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
