// Page Footer
//

.page-footer {
  background: $gr-daintree;
  font-size: $font-size-sm;
  padding: 0 $grid-gutter-width/2;

  @include media-breakpoint-up(md) {
    font-size: 1rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
