// Scroll Arrows
//

%scroll-arrow {
  @include button-circle(1.875rem);
  bottom: 0;
  color: $brand-primary;
  margin: 2em auto -1rem;
  position: relative;
  transition: .4s;

  &::before {
    border: .1em solid transparent;
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: cubic-bezier(0.54, -0.27, 0.15, 1.61) .4s;
    transform: scale(.9) translateY(-.3125rem);
  }

  &:hover {

    &::before {
      border-color: $link-hover-color;
      transform: none;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}





// Scroll Up
//

.scroll-up {
  @extend %scroll-arrow;
}

.scroll-up__title {
  @extend .sr-only;
}





// Scroll Down
//

@keyframes bounce {
  0%, 100% {
    transform: translateY(-12.5%);
  }
  50% {
    transform: translateY(12.5%);
  }
}

.scroll-down {
  @extend %scroll-arrow;
  animation: bounce cubic-bezier(0.39, 0.58, 0.57, 1) 4s infinite;
  color: $gr-white;
  margin-bottom: 6rem;
  margin-left: -1em;
  left: 50%;
  position: absolute;
}

.scroll-down__title {
  @extend .scroll-up__title;
}
