// Social
//

%social__button {
  @include button-circle(2.5rem);
  position: relative;
  transition: cubic-bezier(0.54,-0.27, 0.15, 1.61) .4s;

  &::before {
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(.9) translateY(-5px);
    transition: inherit;
  }

  &:hover {
    &::before {
      background: $gr-white;
      transform: none;
    }
  }

  .page-footer & {
    color: $gr-white;
  }
}

.social {
  @extend .nav;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;

  &__github {
    @extend %social__button;

    &:hover {
      color: $gr-github;
    }
  }

  &__twitter {
    @extend %social__button;

    &:hover {
      color: $gr-twitter;
    }
  }

  &__title {
    @extend .sr-only;
  }
}
