// Tags
//
.tags {
  bottom: 0;
  display: flex;
  font-size: 1.25rem;
  flex-wrap: wrap;
  margin: -.25em;

  * + & {
    margin-top: 1.5rem;
  }
}

.tag {
  background: $gray-lightest;
  border-radius: 1em;
  color: $brand-primary;
  font-weight: 300;
  line-height: 1;
  margin: .25em;
  padding: .5em 1em;
  text-transform: lowercase;
  white-space: nowrap;

  &::before {
    content: '#';
  }
}
