.gray-dark {
  color: $gray-dark;
}

.gray {
  color: $gray;
}

.gray-light {
  color: $gray-light;
}

.gray-lighter {
  color: $gray-lighter;
}

.gray-lightest {
  color: $gray-lightest;
}

.brand-primary {
  color: $brand-primary;
}

.brand-success {
  color: $brand-success;
}

.brand-info {
  color: $brand-info;
}

.brand-warning {
  color: $brand-warning;
}

.brand-danger {
  color: $brand-danger;
}

.bg-gray-dark {
  background-color: $gray-dark;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

.bg-brand-primary {
  background-color: $brand-primary;
}

.bg-brand-success {
  background-color: $brand-success;
}

.bg-brand-info {
  background-color: $brand-info;
}

.bg-brand-warning {
  background-color: $brand-warning;
}

.bg-brand-danger {
  background-color: $brand-danger;
}
