<footer role="contentinfo">
  <section class="content-info">
    {{> sections/credits}}
    {{> sections/privacy-policy}}
    {{> sections/imprint}}
    <div class="text-center">
      {{> partials/social}}
      {{> partials/copyright}}
      <ul class="nav imprint">
        <li><a href="#imprint">Imprint</a></li>
        <li><a href="#credits">Credits</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </section>
</footer>