<footer role="contentinfo">
  {{> sections/privacy-policy}}
  {{> sections/legal-notice}}
  <section class="content-info">
    {{> partials/social}}
    <p class="content-info__text">&copy; 2015 {{author}}. All rights reserved.</p>
    <div class="content-info__links">
      <a class="content-info__link" href="#privacy-policy">Privacy Policy</a>
      <a class="content-info__link" href="#legal-notice">Legal Notice</a>
    </div>
  </section>
</footer>
