<footer role="contentinfo">
  <section class="content-info">
    {{> partials/social}}
    <p class="copyright">&copy; 2015 {{author}}. All rights reserved.</p>
    <ul class="nav imprint">
      <li><a href="#">Imprint</a></li>
      <li><a href="#">Legal Notice</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </section>
  {{> sections/imprint}}
  {{> sections/legal-notice}}
  {{> sections/privacy-policy}}
</footer>