<header>
  <a href class="logo">
    {{> assets/logo}}
    <span class="sr-only">{{author}}</span>
  </a>
  <nav class="header-nav" role="navigation">
    <ul class="nav header-nav__main">
      <li><a href="#">About</a></li>
      <li><a href="#">Expertise</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    {{> partials/contact}}
    {{> partials/social}}
  </nav>
</header>