<header>
  <a href class="logo text-left">
    {{> assets/logo}}
    <span class="sr-only">{{author}}</span>
  </a>
  <nav class="header-nav text-center" role="navigation">
    <ul class="nav header-nav__main">
      <li><a href="#about">About</a></li>
      <li><a href="#expertise">Expertise</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    {{> partials/contact}}
    {{> partials/social}}
  </nav>
</header>