<header class="header">
  {{> assets/logo}}
  <button type="button" class="nav-toggle">
    <span class="bars">
      <span class="bars__bar"></span>
    </span>
    <span class="nav-toggle__title">Menu</span>
  </button>
  <nav class="nav-panel" role="navigation">
    <ul class="header-nav">
      <li><a class="header-nav__item" href="#about">About</a></li>
      <li><a class="header-nav__item" href="#expertise">Expertise</a></li>
      <li><a class="header-nav__item" href="#work">Work</a></li>
      <li><a class="header-nav__item" href="#contact">Contact</a></li>
    </ul>
    {{> partials/social}}
  </nav>
</header>
