<header>
  {{> assets/logo}}
  <nav class="nav-panel" role="navigation">
    <ul class="header-nav">
      <li><a class="header-nav__item" href="#about">About</a></li>
      <li><a class="header-nav__item" href="#expertise">Expertise</a></li>
      <li><a class="header-nav__item" href="#work">Work</a></li>
      <li><a class="header-nav__item" href="#contact">Contact</a></li>
    </ul>
    {{> partials/contact}}
    {{> partials/social}}
  </nav>
</header>
