<!doctype html>
<html lang="en" class="no-js">
  <head>
    {{> partials/meta-initial}}
    {{> partials/scripts-initial}}
    <title>{{author}}</title>
    {{> partials/meta}}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {{> partials/styles}}
  </head>
  <body>
    {{> partials/browserupgrade}}
    {{> layout/header}}
    {{> layout/main}}
    {{> layout/footer}}
    {{> partials/scripts}}
  </body>
</html>
