<!doctype html>
<html lang="{{lang}}" class="no-js">
  <head>
    {{> partials/meta-initial}}
    {{> partials/scripts-initial}}
    <title>{{author}}</title>
    {{> partials/meta}}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{{path}}styles/main.css">
  </head>
  <body>
    {{> layout/header}}
    {{> layout/main}}
    {{> layout/footer}}
    {{> partials/scripts}}
  </body>
</html>
