<!doctype html>
<html lang="en" class="no-js">
  <head>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto:300,400,500:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
    {{> partials/meta}}
    <title>{{author}}</title>
    
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{> partials/styles}}
  </head>
  <body>
    {{> partials/browserupgrade}}
    <div class="container">
      {{> layout/header}}
      {{> layout/main}}
      {{> layout/footer}}
    </div>
    
    {{> partials/scripts}}
  </body>
</html>
