<!doctype html>
<html lang="en">
  <head>
    {{> partials/meta}}
    <title>{{author}}</title>
    
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{> partials/styles}}
  </head>
  <body>
    {{> partials/browserupgrade}}
    <div class="container">
      {{> layout/header}}
      {{> layout/main}}
      {{> layout/footer}}
    </div>
    
    {{!-- {{> partials/scripts}} --}}
  </body>
</html>
