<section class="contact" id="contact">
  <h3 class="contact__title">Say hello</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, rem. Dolore quos quibusdam nobis quis maiores sapiente voluptatem fugit, consectetur.</p>
  <form class="contact-form" action="#">
    <div class="row">
      <div class="contact-form__name col-sm-6">
        <label class="contact-form__name-label" for="contact-name">Name</label>
        <input class="contact-form__name-input" id="contact-name" type="text" name="name" placeholder="Name">
      </div>
      <div class="contact-form__email col-sm-6">
        <label class="contact-form__email-label" for="contact-email">Email</label>
        <input class="contact-form__email-input" id="contact-email" type="text" name="email" placeholder="Email">
      </div>
    </div>
    <div class="row">
      <div class="contact-form__message col-xs-12">
        <label class="contact-form__message-label" for="contact-message">Message</label>
        <textarea class="contact-form__message-text" id="contact-message" name="message" placeholder="Message"></textarea>
      </div>
      <div class="contact-form__submit col-xs-12">
        <button class="contact-form__submit-input" name="submit" type="submit" tabindex="0">Submit</button>
      </div>
    </div>
  </form>
  <a href="#home" class="scroll-up"><i class="lnr lnr-chevron-up"></i><span class="sr-only">Scroll up</span></a>
</section>