<section class="credits" id="credits">
  <h2>Credits</h2>
  <p class="add-message">Credit to <a href="https://linearicons.com" target="_blank">Linearicons</a> (<a href="https://perxis.com" target="_blank">Perxis</a>)</p>
</section>