<section class="page-section expertise" id="expertise">

  <h2 class="page-section__title">Expertise</h2>

  <article class="card">
    <h3 class="card__title">Web Design</h3>
    <div class="card__symbol">
      <i class="icon-design"></i>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
    </div>
  </article>

  <article class="card">
    <h3 class="card__title">Web Development</h3>
    <div class="card__symbol">
      <i class="icon-code"></i>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
    </div>
  </article>

  <article class="card">
    <h3 class="card__title">Responsive Design</h3>
    <div class="card__symbol">
      <div class="icon-rwd"></div>
    </div>
    <div class="card__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
    </div>
  </article>

</section>
