<section class="expertise">

  <h3>Expertise</h3>

  <section class="expertise__item web-design">
    <h2>Web Design</h2>
    <figure class="web-design__icon">
      <img class="img-circle img-fluid center-block" src="//placehold.it/500x500/01c4f5" alt="W">
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

  <section class="expertise__item web-development">
    <h2>Web Development</h2>
    <figure class="web-development__icon">
      <img class="img-circle img-fluid center-block" src="//placehold.it/500x500/399014" alt>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

  <section class="expertise__item responsive-design">
    <h2>Responsive Design</h2>
    <figure class="responsive-design__icon">
      <img class="img-circle img-fluid center-block" src="//placehold.it/500x500/832a14" alt>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

</section>