<section class="expertise" id="expertise">

  <h2 class="expertise__title">Expertise</h2>

  <section class="expertise__item">
    <h3 class="expertise__sub-title">Web Design</h3>
    <figure class="photo">
      <img class="photo__image" src="//placehold.it/500x500/01c4f5" alt="W">
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

  <section class="expertise__item">
    <h3 class="expertise__sub-title">Web Development</h3>
    <figure class="photo">
      <img class="photo__image" src="//placehold.it/500x500/399014" alt>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

  <section class="expertise__item">
    <h3 class="expertise__sub-title">Responsive Design</h3>
    <figure class="photo">
      <img class="photo__image" src="//placehold.it/500x500/832a14" alt>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequatur nisi rem, velit at dolorum, commodi vero quos iusto autem fugit facere aliquid repellendus quidem quas suscipit corrupti quibusdam.</p>
  </section>

</section>