<section class="home" id="home">
  <section class="home__slide-1">
    <h1><span class="home__title--white">Glenn</span> Reyes</h1>
    <p class="home__lead">{{description}}</p>
  </section>
  <section class="home__slide-2">
    <h2><span class="home__title--white">Web</span> Developer</h1>
    <p class="home__lead">I build modern websites and web applications for you.</p>
  </section>
  <a href="#about" class="scroll-down"><i class="icon-chevron-down"></i><span class="scroll-down__title">Scroll down</span></a>
</section>
