<section class="home jumbotron" id="home">
  <section class="home__slide-1">
    <h1 class="home__title">{{author}}</h1>
    <p class="lead">{{description}}</p>
  </section>
  <section class="home__slide-2">
    <h2 class="home__title">{{profession}}</h1>
    <p class="lead">I build modern websites and web applications for you.</p>
  </section>
  <a href="#" class="scroll-down"><i class="lnr lnr-chevron-down"></i><span class="sr-only">Scroll down</span></a>
</section>
