<section class="home" id="home">
  <div class="messages">
    <section class="message">
      <h1 class="message__title message__title--one"><span class="message__title--white">Glenn</span> Reyes</h1>
      <p class="message__lead message__lead--one">{{description}}</p>
    </section>
    <section class="message">
      <h2 class="message__title message__title--two"><span class="message__title--white">Web</span> Developer</h1>
      <p class="message__lead message__lead--two">I build modern websites and web applications for you.</p>
    </section>
  </div>
  <a href="#about" class="scroll-down"><i class="icon-chevron-down"></i><span class="scroll-down__title">Scroll down</span></a>
</section>
