<section id="legal-notice" class="legal-notice">
  <h3>Legal Notice</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, minus, molestiae. Dicta atque, illo, non iure quisquam ducimus consequatur voluptates qui eligendi, pariatur perferendis animi?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, minus, molestiae. Dicta atque, illo, non iure quisquam ducimus consequatur voluptates qui eligendi, pariatur perferendis animi?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, minus, molestiae. Dicta atque, illo, non iure quisquam ducimus consequatur voluptates qui eligendi, pariatur perferendis animi?</p>
</section>