<section class="footer-section privacy-policy" id="privacy-policy">
  <h3 class="footer-section__title">Privacy Policy</h3>
  <div class="footer-section__content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ducimus quasi incidunt odit vitae odio laboriosam impedit, nemo, quas pariatur. Perspiciatis obcaecati facilis sed, quod quaerat maiores temporibus reprehenderit sapiente officiis, recusandae ducimus perferendis enim voluptatibus. Facilis ipsum tempora sed, voluptatem dolore in ea vel, consequatur perferendis, sequi quam, quos.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ducimus quasi incidunt odit vitae odio laboriosam impedit, nemo, quas pariatur. Perspiciatis obcaecati facilis sed, quod quaerat maiores temporibus reprehenderit sapiente officiis, recusandae ducimus perferendis enim voluptatibus. Facilis ipsum tempora sed, voluptatem dolore in ea vel, consequatur perferendis, sequi quam, quos.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ducimus quasi incidunt odit vitae odio laboriosam impedit, nemo, quas pariatur. Perspiciatis obcaecati facilis sed, quod quaerat maiores temporibus reprehenderit sapiente officiis, recusandae ducimus perferendis enim voluptatibus. Facilis ipsum tempora sed, voluptatem dolore in ea vel, consequatur perferendis, sequi quam, quos.</p>
  </div>
</section>
