<section class="footer-section privacy-policy" id="privacy-policy">
  <h3 class="footer-section__title">{{privacy-policy}}</h3>
  <div class="footer-section__content">
    <h5>Google Analytics</h5>
    {{{policy-ga}}}
  </div>
  <button class="close">
    <span class="close__min"></span> <span class="close__text">{{close}}</span>
  </button>
</section>
