<section class="work" id="work">

  <h2 class="work__title">Work</h2>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="Design Escalation">
    </figure>
    <h3 class="work__item-title">Design Escalation</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">Twitter Bootstrap</span>
      <span class="work__tag">WordPress</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="Physico-Therapie Meidling">
    </figure>
    <h3 class="work__item-title">Physico-Therapie Meidling</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">Twitter Bootstrap</span>
      <span class="work__tag">WordPress</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="3i Group Annual Report 2014">
    </figure>
    <h3 class="work__item-title">3i Group Annual Report</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">jQuery</span>
      <span class="work__tag">iPad</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="ProSieben Annual Report 2014">
    </figure>
    <h3 class="work__item-title">ProSieben Annual Report 2014</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">jQuery</span>
      <span class="work__tag">HTML5 Video</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="METRO GROUP The world of METRO Cash &amp; Carry">
    </figure>
    <h3 class="work__item-title">METRO GROUP The world of METRO Cash &amp; Carry</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">Parallax</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="nexxar Lab">
    </figure>
    <h3 class="work__item-title">nexxar Lab</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">WordPress</span>
    </p>
  </section>
  
  <section class="work__item">
    <figure class="work__screen">
      <img class="work__image" src="//placehold.it/768x768" alt="Volkswagen Annual Report 2014">
    </figure>
    <h3 class="work__item-title">Volkswagen Annual Report 2014</h3>
    <p class="work__tags">
      <span class="work__tag">Responsive Web Design</span>
      <span class="work__tag">jQuery</span>
      <span class="work__tag">Parallax</span>
    </p>
  </section>

</section>