<section class="work">

  <h2>Work</h2>
  
  <section class="work__item design-escalation">
    <figure class="design-escalation__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="Design Escalation">
    </figure>
    <h3>Design Escalation</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">Website</span>
      <span class="tag">Twitter Bootstrap</span>
      <span class="tag">WordPress</span>
    </p>
  </section>
  
  <section class="work__item ptm12">
    <figure class="ptm12__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="Physio-Therapie Meidling">
    </figure>
    <h3>Physio-Therapie Meidling</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">Website</span>
      <span class="tag">Twitter Bootstrap</span>
      <span class="tag">WordPress</span>
    </p>
  </section>
  
  <section class="work__item three-i">
    <figure class="three-i__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="3i Group Annual Report 2014">
    </figure>
    <h3>3i Group Annual Report</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">jQuery</span>
      <span class="tag">Website</span>
      <span class="tag">iPad</span>
    </p>
  </section>
  
  <section class="work__item prosieben">
    <figure class="prosieben__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="ProSieben Gesch채ftsbericht 2014">
    </figure>
    <h3>ProSieben Gesch채ftsbericht 2014</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">jQuery</span>
      <span class="tag">Website</span>
      <span class="tag">HTML5 Video</span>
    </p>
  </section>
  
  <section class="work__item volkswagen">
    <figure class="prosieben__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="Volkswagen Gesch채ftsbericht 2014">
    </figure>
    <h3>Volkswagen Gesch채ftsbericht 2014</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">jQuery</span>
      <span class="tag">Website</span>
      <span class="tag">Parallax</span>
    </p>
  </section>
  
  <section class="work__item metro">
    <figure class="metro__screen">
      <img class="img-fluid center-block" src="//placehold.it/500x500" alt="METRO GROUP The world of METRO Cash &amp; Carry">
    </figure>
    <h3>METRO GROUP The world of METRO Cash &amp; Carry</h3>
    <p>
      <span class="tag">Front-end</span>
      <span class="tag">Responsive</span>
      <span class="tag">jQuery</span>
      <span class="tag">Website</span>
      <span class="tag">Parallax</span>
    </p>
  </section>

</section>