<section class="page-section work" id="work">

  <h2 class="page-section__title">Work</h2>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">ProSiebenSat.1 Annual&nbsp;Report 2014</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">HTML5 Video</span>
      </p>
    </div>
  </article>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">METRO&nbsp;GROUP Condensed Report 2014/15</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">Parallax</span>
      </p>
    </div>
  </article>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">nexxar Lab</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">WordPress</span>
      </p>
    </div>
  </article>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">Volkswagen Annual Report 2014</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">Parallax</span>
      </p>
    </div>
  </article>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">3i&nbsp;Group Annual Report 2014</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">iPad</span>
      </p>
    </div>
  </article>

  <article class="card card--gray">
    <figure class="card__photo">
      <img class="img-fluid" src="//placehold.it/768x480" alt="" />
    </figure>
    <div class="card__content">
      <h4 class="card__title">Design Escalation</h4>
      <p class="tags">
        <span class="tag">RWD</span>
        <span class="tag">WordPress</span>
      </p>
    </div>
  </article>

</section>
