<ul class="nav contact">
  <li><a href="mailto:{{mail}}"><i class="lnr lnr-envelope"></i><span class="sr-only">Mail</span></a></li>
  <li><a href="tel:{{phone}}"><i class="lnr lnr-phone-handset"></i><span class="sr-only">Call</span></a></li>
</ul>