<div class="contact-buttons">
  <a class="contact-buttons__mail" href="mailto:{{mail}}"><i class="icon-envelope"></i><span class="contact-buttons__title">Mail</span></a>
  <a class="contact-buttons__phone" href="tel:{{phone}}"><i class="icon-phone"></i><span class="contact-buttons__title">Call</span></a>
</div>