<div class="nav contact">
  <a class="contact__button row row-xs-center" href="mailto:{{mail}}"><i class="lnr lnr-envelope"></i><span class="sr-only">Mail</span></a>
  <a class="contact__button row row-xs-center" href="tel:{{phone}}"><i class="lnr lnr-phone-handset"></i><span class="sr-only">Call</span></a>
</ul>