<ul class="nav contact">
  <li><a href="mailto:office@glennreyes.com"><i class="lnr lnr-envelope"></i><span class="sr-only">Mail</span></a></li>
  <li><a href="tel:00436605402584"><i class="lnr lnr-phone-handset"></i><span class="sr-only">Call</span></a></li>
</ul>