<ul class="nav social">
  <li><a href="https://www.facebook.com/glnnreyes"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
  <li><a href="https://github.com/glennreyes"><i class="fa fa-github"></i><span class="sr-only">Github</span></a></li>
  <li><a href="https://linkedin.com/in/glnnrys"><i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span></a></li>
  <li><a href="https://twitter.com/glnnrys"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
</ul>