<div class="social">
  <a class="social__twitter" href="{{twitter}}" target="_blank"><i class="icon-twitter"></i><span class="social__title">Twitter</span></a>
  <a class="social__github" href="{{github}}" target="_blank"><i class="icon-github"></i><span class="social__title">GitHub</span></a>
</div>
