<ul class="nav social">
  <li><a href="{{facebook}}"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
  <li><a href="{{github}}"><i class="fa fa-github"></i><span class="sr-only">Github</span></a></li>
  <li><a href="{{linkedin}}"><i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span></a></li>
  <li><a href="{{twitter}}"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a></li>
</ul>