<a href class="logo">
  <svg class="logo__graphic" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <g>
      <path fill="#08a" d="M50,0C22.386,0,0,22.386,0,50c0,27.614,22.386,50,50,50s50-22.386,50-50C100,22.386,77.614,0,50,0z
         M82.39,67.854c-2.804,4.15-6.763,8.022-11.765,11.51c-6.609,4.608-13.655,6.945-20.94,6.945c-1.966,0-3.986-0.17-6.005-0.505
        c-4.743-0.787-9.093-2.452-12.929-4.95c-3.842-2.501-7.284-5.912-10.23-10.138c-2.945-4.224-4.951-8.656-5.961-13.172
        c-1.009-4.51-1.055-9.24-0.137-14.058c1.838-9.638,6.911-17.412,15.078-23.106c6.972-4.861,14.24-7.326,21.601-7.326
        c1.047,0,2.11,0.05,3.17,0.148l-0.018,9.592c-0.789-0.058-1.563-0.087-2.311-0.087c-2.464,0-4.758,0.316-6.818,0.941
        c-2.891,0.877-5.931,2.419-9.036,4.583c-6.024,4.2-9.778,9.757-11.16,16.516c-1.383,6.774,0.157,13.424,4.578,19.765
        c4.42,6.34,10.05,10.095,16.733,11.162c1.413,0.226,2.825,0.34,4.195,0.34c5.093,0,9.938-1.578,14.401-4.689
        c5.621-3.919,9.537-8.49,11.639-13.585l0.163-0.395l-10.94-15.691l8.541-5.955l13.25,19.004
        C86.837,59.389,85.123,63.811,82.39,67.854z">
      <path fill="none" d="M74.239,35.701l-8.541,5.955l10.94,15.691l-0.163,0.395c-2.102,5.095-6.018,9.666-11.639,13.585
        c-4.463,3.112-9.308,4.689-14.401,4.689c-1.371,0-2.782-0.115-4.195-0.34c-6.683-1.067-12.313-4.822-16.733-11.162
        c-4.421-6.34-5.961-12.99-4.578-19.765c1.381-6.76,5.136-12.317,11.16-16.516c3.105-2.165,6.145-3.707,9.036-4.583
        c2.06-0.624,4.353-0.941,6.818-0.941c0.747,0,1.522,0.029,2.311,0.087l0.018-9.592c-1.06-0.098-2.123-0.148-3.17-0.148
        c-7.361,0-14.628,2.465-21.601,7.326c-8.167,5.694-13.239,13.468-15.078,23.106c-0.918,4.818-0.872,9.548,0.137,14.058
        c1.01,4.516,3.016,8.947,5.961,13.172c2.946,4.225,6.388,7.636,10.23,10.138c3.836,2.497,8.186,4.163,12.929,4.95
        c2.018,0.335,4.039,0.505,6.005,0.505c7.286,0,14.331-2.337,20.94-6.945c5.002-3.488,8.96-7.36,11.765-11.51
        c2.732-4.043,4.446-8.465,5.098-13.149L74.239,35.701z">
    </g>
  </svg>
  <span class="logo__title">{{author}}</span>
</a>