@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-family-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, 'SF Mono', Consolas,
    'Liberation Mono', Menlo, monospace;
  --font-family-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-lg: 48rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 64rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 48rem) {
    padding-inline: 2rem;
  }

  @media (min-width: 64rem) {
    max-width: 64rem;
  }
}

@utility prose {
  max-width: 70ch;
}

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  * {
    @apply box-border;
  }
}
