// Basic
//
body {
  &.nav-open {
    overflow: hidden;
  }
}

a {
  &:focus {
    outline: 0;
  }
}

button {
  &:focus {
    @extend a:focus;
  }
}

// Type
//
h1, h2, h3 {
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  font-weight: 100;
}

p {
  color: $gray;
  font-weight: 300;
}


// Webfont Loader
//
.wf-loading {
  opacity: 0;
}


// Icons
//
[class^=icon] {
  font-style: normal;
}

.icon-chevron-down {
  @extend .lnr, .lnr-chevron-down;
}

.icon-chevron-up {
  @extend .lnr, .lnr-chevron-up;
}

.icon-envelope {
  @extend .lnr, .lnr-envelope;
  position: relative;
  top: -2px;
}

.icon-phone {
  @extend .lnr, .lnr-phone-handset;
}

.icon-facebook {
  @extend .fa, .fa-facebook;
}

.icon-github {
  @extend .fa, .fa-github;
}

.icon-linkedin {
  @extend .fa, .fa-linkedin;
}

.icon-twitter {
  @extend .fa, .fa-twitter;
}

.icon-bars {
  border-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24/18 * 1rem;
  width: 26/18 * 1rem;

  &__bar {
    border-top: 2px solid;
    border-color: inherit;
    display: block;
    height: 2px;
  }
}


// Forms
//
&::placeholder {
  @extend .sr-only;
}
