// Basic
//

@include media-breakpoint-down(md) {

  /* uncss:ignore */
  body {
    &.nav-open {
      height: 100vh;
      overflow: hidden;
    }
  }
}

a {

  &:focus {
    outline: 0;
  }

  p &,
  address & {
    @include hover-state();
  }
}

button {

  &:focus {
    @extend a:focus;
  }
}

small {
  font-weight: 300;
}





// Type
//

h1, h2, h3 {
  color: $brand-primary;
  letter-spacing: .05em;
  text-transform: uppercase;
}

h2 {
  color: $gr-astronaut-blue;
  margin-bottom: 1.5em;
}

h6 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  line-height: 1.75;
}

address {
  font-weight: 300;
  margin-bottom: 1em;
}
