// Basic
//
body {

  &.nav-open {
    height: 100vh;
    overflow: hidden;
  }
}

a {

  &:focus {
    outline: 0;
  }
}

button {

  &:focus {
    @extend a:focus;
  }
}

// Type
//
h1, h2, h3 {
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  color: $gray;
  font-weight: 300;
}


// Webfont Loader
//
.wf-loading {
  opacity: 0;
}


// Icons
//
[class^=icon] {
  font-style: normal;
}

.icon-chevron-down {
  @extend .lnr, .lnr-chevron-down;
}

.icon-chevron-up {
  @extend .lnr, .lnr-chevron-up;
}

.icon-envelope {
  @extend .lnr, .lnr-envelope;
  position: relative;
  top: -2px;
}

.icon-phone {
  @extend .lnr, .lnr-phone-handset;
}

.icon-facebook {
  @extend .fa, .fa-facebook;
}

.icon-github {
  @extend .fa, .fa-github;
}

.icon-linkedin {
  @extend .fa, .fa-linkedin;
}

.icon-twitter {
  @extend .fa, .fa-twitter;
}

.icon-bars {
  border-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24/18 * 1rem;
  width: 26/18 * 1rem;

  &__bar {
    border-top: 3px solid;
    border-color: inherit;
    display: block;
    height: 3px;
    position: relative;
    transition: bottom .1s .4s, border-color .1s, transform .2s;

    &::before {
      content: '';
      border-top: inherit;
      bottom: 8px;
      height: inherit;
      display: inherit;
      left: 0;
      position: absolute;
      right: 0;
      transition: inherit;
    }

    &::after {
      @extend .icon-bars__bar::before;
      bottom: -8px;
    }

    .nav-open & {
      transition: bottom .1s, border-top .1s, transform .2s .4s;

      &::before,
      &::after {
        border-color: $brand-primary;
        bottom: 0;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(135deg);
      }
    }
  }
}


// Forms
//
&::placeholder {
  @extend .sr-only;
}
