// Icons
//

[class^=icon] {
  font-style: normal;
}

.icon-chevron-down {
  @extend .lnr, .lnr-chevron-down;
}

.icon-chevron-up {
  @extend .lnr, .lnr-chevron-up;
}

.icon-design {
  @extend .lnr, .lnr-pencil;
}

.icon-code {
  @extend .lnr, .lnr-code;
  font-size: 1.25em;
}

.icon-rwd {
  @extend .lnr, .lnr-laptop-phone;
  font-size: 1.1em;
}

.icon-github {
  @extend .fa, .fa-github;
  position: relative;
}

.icon-twitter {
  @extend .fa, .fa-twitter;
  position: relative;
}
