// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.



// Colors
//
// Glenn Reyes Corporate Colors

$gr-bright-turquoise: #01c4f5;
$gr-pacific-blue:     #029bc2;
$gr-deep-cerulean:    #08a;
$gr-blue-lagoon:      #02728e;
$gr-astronaut-blue:   #024a5c;
$gr-daintree:         #012129;
$gr-wild-sand:        #f5f5f5;
$gr-gallery:          #eee;
$gr-boulder:          #7b7b7b;
$gr-dove-gray:        #626262;
$gr-mine-shaft:       #2f2f2f;
$gr-cod-gray:         #151515;
$gr-black:            #000;
$gr-white:            #fff;
$gr-la-palma:         #399014;
$gr-trendy-green:     #6a8314;
$gr-pueblo:           #832a14;
$gr-kenyan-copper:    #812109;
$gr-honey-flower:     #591476;
$gr-disco:            #761464;

$gr-facebook:         #3b5998;
$gr-github:           #333;
$gr-linkedin:         #007bb6;
$gr-twitter:          #55acee;



// Bootstrap overrides
//
//


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 $gr-cod-gray;
$gray:                      $gr-mine-shaft;
$gray-light:                $gr-dove-gray;
$gray-lighter:              $gr-boulder;
$gray-lightest:             $gr-wild-sand;

$brand-primary:             $gr-deep-cerulean;
$brand-success:             $gr-la-palma;
$brand-info:                $gr-bright-turquoise;
$brand-warning:             $gr-gallery;
$brand-danger:              $gr-pueblo;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex: true;
$enable-rounded: true;
$enable-transitions: true;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    $gr-white;
$body-color:                 $gray;


// Links
//
// Style anchor elements.

$link-color:                 $brand-primary;
$link-decoration:            none;
$link-hover-color:           $brand-primary;
$link-hover-decoration:      none;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:          2.5rem; // 40px


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$icon-font-path: '../fonts/';

$font-family-sans-serif:     Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-root:             16px;

$font-size-base:             1.125rem;
$font-size-h1:               2em;
$font-size-h2:               2em;
$font-size-h3:               1.75em;
$font-size-h4:               1.5em;
$font-size-h5:               1em;
$font-size-h6:               1em;

$headings-font-weight:       400;
$headings-line-height:       1.5;
$headings-color:             $brand-primary;

$lead-font-size:             1.25em;
$lead-font-weight:           300;



// Components
//
// Define common padding and border radius sizes and more.

$border-radius:          .25rem;
$border-radius-lg:       .3125rem;
$border-radius-sm:       .2rem;
