// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.



// Colors
//
// Glenn Reyes Corporate Colors
$gr-bright-turquoise: #01c4f5;
$gr-pacific-blue:     #029bc2;
$gr-deep-cerulean:    #08a;
$gr-blue-lagoon:      #02728e;
$gr-astronaut-blue:   #024a5c;
$gr-daintree:         #012129;
$gr-gallery:          #eee;
$gr-boulder:          #7b7b7b;
$gr-dove-gray:        #626262;
$gr-mine-shaft:       #2f2f2f;
$gr-cod-gray:         #151515;
$gr-black:            #000;
$gr-white:            #fff;
$gr-la-palma:         #399014;
$gr-trendy-green:     #6a8314;
$gr-pueblo:           #832a14;
$gr-kenyan-copper:    #812109;
$gr-honey-flower:     #591476;
$gr-disco:            #761464;

$gr-facebook:         #3b5998;
$gr-github:           #171515;
$gr-linkedin:         #007bb6;
$gr-twitter:          #55acee;



// Bootstrap overrides
//
// 


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 $gr-cod-gray;
$gray:                      $gr-mine-shaft;
$gray-light:                $gr-dove-gray;
$gray-lighter:              $gr-boulder;
$gray-lightest:             $gr-gallery;

$brand-primary:             $gr-deep-cerulean;
$brand-success:             $gr-la-palma;
$brand-info:                $gr-bright-turquoise;
$brand-warning:             $gr-gallery;
$brand-danger:              $gr-pueblo;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex: true;
$enable-rounded: true;
$enable-transitions: true;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$icon-font-path: '../fonts/';

$font-family-sans-serif:     Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-h1:               1.5rem;
$font-size-h2:               1.5rem;
$font-size-h3:               1.25rem;
$font-size-h4:               1.25rem;
$font-size-h5:               1.25rem;
$font-size-h6:               1rem;

$headings-font-weight:       300;
$headings-line-height:       1.5;
$headings-color:             $brand-primary;

$lead-font-size:             1.25rem;
$lead-font-weight:           100;