.privacy-policy,
.legal-notice {
  @extend .col-xs-12;
  background: $gray-lightest;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &__title {
    margin-bottom: 2rem;
  }
}

.content-info {
  @extend .privacy-policy;
}
