header {
  .no-js & {
    background: $gr-gallery;
  }
}

// Navigation Panel
// 
.nav-panel {
  background: $gr-gallery;
  height: 100vh;
  padding: 3.125rem .9375rem;
}

// Header Navigation
// 
.header-nav__item {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
}

// Contact
// 
.contact-buttons {
  display: flex;
  justify-content: center;
}
.contact-buttons__item {
  display: block;
  @include size(3.125rem);
}