.header {
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: .875rem $grid-gutter-width/2;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;

  .nav-open & {
    position: fixed;
  }
}
