// Basic
%section {
  @extend .col-xs-12;
  min-height: 30rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

%section--gray {
  @extend %section;
  background: $gray-lightest;
}

.about__title,
.expertise__title,
.work__title,
.contact__title,
%section__title {
  margin-bottom: 2em;
  &:after {
    content: '';
    display: block;
    border-bottom: 1px solid $gray-lightest;
    margin: 1em auto 0;
    width: 75px;
    .about &,
    .work & {
      border-bottom-color: $gr-white;
    }
  }
}


// Home
//
.home {
  @extend %section;
  align-items: center;
  background: $gr-daintree url(../images/workspace-from-behind-mobile.jpg) no-repeat 50% 50% / cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}


// About
//
.about {
  @extend %section--gray;

  &__title {
    @extend %section__title;
  }
}


// Expertise
//
.expertise {
  @extend %section;

  &__item {
    & + & {
      margin-top: 4rem;
    }
  }

  &__title {
    @extend .sr-only, %section__title;
  }

  &__sub-title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1em;
  }
}


// Work
//
.work {
  @extend %section--gray;

  &__title {
    @extend %section__title;
  }

  &__item {
    @extend .row;
    max-width: 48rem;
    position: relative;

    & + & {
      margin-top: 4rem;
    }
  }

  &__item-title {
    font-weight: 300;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
  }

  &__screen {
    margin-bottom: 0;
  }

  &__tags {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
  }

  &__tag {
    background: $gr-white;
    border-radius: .75rem;
    font-size: .875rem;
    line-height: 1;
    margin: .15625rem;
    padding: .3125rem .625rem;
  }

  &__image {
    @extend .img-fluid;
  }
}


// Contact
//
.contact {
  position: relative;
  @extend %section;
}
